.temp {
  margin: 0!important;
}

.marginTop {
  margin-top: 5%!important;
}

.marginTopL {
  margin-top: 2.5%!important;
}

.marginTopLL {
  margin-top: 1%!important;
}

.marginVertical {
  margin: 0 10px !important;
}

.marginBotL, .segment .input .textarea {
  margin-bottom: 2.5%!important;
}
.marginBotLL {
  margin-bottom: 1%!important;
}


.bglight {
  background-color: #999999!important;
}

.clickable {
  cursor: pointer;
}

.apparition {
  opacity: 1;
  transition: opacity 0.5s linear;
  display: table-row;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s linear;
  display: none;
}

.vertical-center {
  margin-top: 15%!important;
}

body {
  background-color: #444444!important;
}

.info-client {
  font-size: medium!important;
  font-style: italic!important;
  margin: 0!important;
  padding: 0!important;
}
