.temp {
  margin: 0!important;
}

.temp1 {
  margin-top: 5%!important;
}

.temp2 {
  margin-top: 2.5% !important;
}

.bglight {
  background-color: #EaEaEa!important;
}

.clickable {
  cursor: pointer;
}

.apparition {
  display: table-row;
  visibility: visible;
  opacity: 1;
}

.hidden {
  display: none;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
}
