.temp {
  margin: 0!important;
}

.marginTop {
  margin-top: 5%!important;
}

.marginTopL {
  margin-top: 2.5%!important;
}

.marginTopLL {
  margin-top: 1%!important;
}

.marginBotL, .segment .input {
  margin-bottom: 2.5%!important;
}
.marginBotLL {
  margin-bottom: 1%!important;
}


.bglight {
  background-color: #EaEaEa!important;
}

.clickable {
  cursor: pointer;
}

.apparition {
  opacity: 1;
  transition: opacity 0.5s linear;
  display: table-row;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s linear;
  display: none;
}

.centerzed {

}
